*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adds spacing between cards */
  justify-content: flex-start;
  padding: 20px;
}

.card-item {
  flex: 1 1 calc(25% - 16px); /* Adjust the card width as per your requirement */
  min-width: 250px; /* Optional: ensures a minimum width for smaller screens */
}